* {
  font-family: 'Kanit', sans-serif;
  font-family: 'Merriweather', serif;
}


.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:focus{
  outline: 0 none;
}
